/*
 * Do not touch the code in this file.
 * It is made for styling the index page.
 * Currently nullified and servers the purpose to act as styling reference.
 */

/* All element styles */

* {
    color: #C0C0C0;
}

/* Body tag styles. */

body {
    background: #111111;
}

/* 'a' tag styles. */

body #notice {
    color: red;
    font-weight: bold;
}

/* Title section styles. */

body #title {
    text-shadow: 1px 1px #E18499;
    color: #333333;
}

/* 'h1' tag styles. */

body #title .title {
    color: #777777;
}

/* Description section styles. */

body #content #description {
    padding-top: 100px;
}
